<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 offset-md-2">
      <h2>聖地巡礼(聖活)</h2>
    </div>
    <div class="col-md-4">
      <p></p>
      <p>聖活の記録や感想、口コミを残そう！</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <p>その他のコンテンツ例</p>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.get_post_image(300,200), class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.body.truncate(100) %></p>
                <p class="card-text"><small class="text-muted"><%= post.address %></small></p>
                <p class="card-text"><small class="text-muted">投稿者： <%= post.user.name %></small></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">投稿日： <%= post.created_at.strftime("%Y-%m-%d") %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>