<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2><%= @post.title %></h2>
      <div>
        <p class="text-muted"><%= @post.address %></p>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <%= link_to user_path(@post.user_id) do %>
          <%= image_tag @post.user.get_user_image(150, 150), class: 'rounded-circle mr-3', width: 150, height: 150 %>
        <% end %>
        <div>
          <h5><%= @post.user.name %></h5>
          <p class="text-muted mb-0">投稿日: <%= @post.created_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div id="comment_counter">
        <%= render "public/comments/counter", post: @post %>
      </div>
      <% if @post.user == current_user %>
      <div>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, date: { confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card p-3">
        <p><%= @post.body %></p>
        <%= image_tag @post.get_post_image(300,200), width: "500px", height: "auto", class: "mx-auto" %>
      </div>
    </div>
  </div>
  <!--コメントフォーム-->
  <div class="row mt-4">
  <div class="col">
    <% if current_user && !current_user.guest? %>
      <div class="card p-3">
        <h4>コメントを投稿</h4>
        <%= form_with(model: [@post, @comment], local: false) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "コメントを入力してください", rows: 3, id: "comment_textarea" %>
          </div>
          <%= f.submit "投稿", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!--コメント一覧-->
<div class="row mt-5">
  <div class="col" id="comment_index">
    <%= render "public/comments/index", comments: @comments %>
  </div>
</div>
  
  <div class="row mt-5">
    <div class="col d-flex justify-content-end">
      <%= link_to "一覧を見る", posts_path %>
    </div>
  </div>
</div>