<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2><%= @post.title %></h2>
      <div>
        <p class="text-muted"><%= @post.address %></p>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <%= image_tag @post.get_post_image(150, 150), class: 'rounded-circle mr-3' %>
        <div>
          <h5><%= @post.user.name %></h5>
          <p class="text-muted mb-0">投稿日: <%= @post.created_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <i class="fas fa-heart mr-2"></i>
        <p>お気に入り数:</p>
      </div>
      <div class="d-flex align-items-center">
        <i class="fas fa-comments mr-2"></i>
        <p>コメント数:</p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card p-3">
        <p><%= @post.body %></p>
        <%= image_tag @post.get_post_image(300,200) %>
      </div>
    </div>
  </div>
</div>