<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col">
      <h2>会員一覧</h2>
    </div>
  </div>

  <%= form_with model: @user, url: admin_users_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= label_tag :keyword, "キーワード", class: "form-label" %>
      <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "名前検索" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :is_active, "ステータス", class: "form-label" %>
      <div class="row mt-2">
        <div class="col d-flex justify-content-center">
          <%= select_tag :is_active, options_for_select([["すべて", ""], ["有効", "true"], ["退会", "false"]], params[:is_active]), class: "form-select" %>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <%= submit_tag "検索", class: "btn btn-primary w-100" %>
    </div>
  </div>
  <% end %>
  <div class="row my-5">
    <div class="col">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">会員ID</th>
            <th scope="col">名前</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id), class: "text-dark" do %>
                <%= image_tag user.get_user_image(50,50), style: "border-radius: 50%;", width: 50, height: 50 %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.user_status == "有効" %>
                <span style="color: green"><%= user.user_status %></span>
              <% else %>
                <span style="color: silver"><%= user.user_status %></span>
              <% end %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>