<div class="container">
  <div class="row mt-4">
    <div class="col d-flex justify-content-center">
      <h2>アカウント編集</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <%= image_tag @user.get_user_image(150,150), style: "border-radius: 50%; border: 5px solid gold;", width: 150, height: 150 %>
    </div>
  </div>
  <%= form_with model: @user, url: users_information_path(@user.id), method: :patch do |f| %>
  <div class="row mt-2">
    <div class="col-md-4 offset-md-4">
      <p>画像変更</p>
      <div>
        <%= f.file_field :user_image %>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 offset-md-4">
      <p>name</p>
      <div>
        <%= f.text_field :name, size: 40 %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <p>profile</p>
      <div>
        <%= f.text_area :introduction, cols: 55, rows: 10 %>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col d-flex justify-content-center">
      <%= f.submit "保存", class: 'btn btn-success', style: "margin-right: 20px;" %>
      <%= link_to "退会", unsubscribe_path, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>