<header class="header">
  <div class= "header-container">
    <div class="logo">
      <%= link_to "AM_Heaven", root_path %>
    </div>
    <div class="login">
      <p>ようこそ、<%= current_user.name %>さん</p>
    </div>
    <nav class="navbar">
      <input type="checkbox" id="menu-toggle" ></input>
      <label for="menu-toggle" class="menu-icon" >&#9776;</label>
      <ul class="menu">
        <li><%= link_to "アバウト", about_path %></li>
        <li><%= link_to "作品一覧", works_path %></li>
        <li><%= link_to "聖地一覧", spots_path %></li>
        <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
  <div class="search-form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn-sm btn-primary" %>
    <% end %>
  </div>
</header>