<!DOCTYPE html>
<html>
  <head>
    <title>AMHeaven</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c57ff49e58.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= yield :stylesheets %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="main-body">
    <% if admin_signed_in? %>
      <%= render 'layouts/header_admin' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/header_user' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <main class="main">
      <% flash.each do |key, message| %>
      <div class="flash-message alert alert-<%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <i class="fas <%= icon_class(key) %>"></i>
        <%= message %>
        <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close"  style="float: right;">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <% end %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <%= yield %>
    </main>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
